## Import Modules

In [5]:

import pandas as pd

## Request page source from URL

In [3]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (4.25.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.26.13)
Requirement already satisfied: trio~=0.17 in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (from selenium) (4.12.2)
Requirement already satisfied: websocket-client~=1.8 in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [6]:
from selenium import webdriver
import time
import pandas as pd
import os

from selenium.webdriver.support.select import Select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

In [5]:
!pip install webdriver-manager

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: webdriver-manager in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (4.0.2)
Requirement already satisfied: requests in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (from webdriver-manager) (2.31.0)
Requirement already satisfied: python-dotenv in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (from webdriver-manager) (1.0.1)
Requirement already satisfied: packaging in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (from webdriver-manager) (23.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (from requests->webdriver-manager) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (from requests->webdriver-manager) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (from requests->webdriver-manager) (1.26.13)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (from requests->webdriver-manager) (2022.12.7)

In [20]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service

service = Service(ChromeDriverManager().install())

driver = webdriver.Chrome(service=service)
url='https://www.linkedin.com/jobs/search/?currentJobId=3997507725&geoId=106967730&keywords=Marketing%20Data%20Analyst&location=Berlin%2C%20Berlin%2C%20Germany'
driver.get(url)
driver.implicitly_wait(10)

In [21]:

WebDriverWait(driver, 10).until(
    EC.presence_of_all_elements_located((By.CLASS_NAME, 'base-search-card'))
)

TimeoutException: Message:

In [14]:
companyname=[]
titlename=[]
location=[]

In [15]:

n = driver.find_elements(By.CLASS_NAME, 'base-search-card__subtitle')
try:
    for i in range(len(n)):
        company=driver.find_elements(By.CLASS_NAME,'base-search-card__subtitle' )[i].text
        title=driver.find_elements(By.CLASS_NAME,'base-search-card__title' )[i].text
        loc=driver.find_elements(By.CLASS_NAME,'job-search-card__location' )[i].text
        companyname.append(company)
        titlename.append(title)
        location.append(loc)
    
except IndexError:
    print('no')

In [16]:
print(len(companyname),len(titlename),len(location))

0 0 0

In [36]:
titlefinal=pd.DataFrame(titlename,columns=['Title'])
companyfinal=pd.DataFrame(companyname,columns=['Company'])
locfinal=pd.DataFrame(location,columns=['Location'])

In [37]:

final_df = pd.concat([titlefinal, companyfinal, locfinal], axis=1)
final_df

,Title,Company,Location
0,Data Analyst (all genders),Sunday Natural,"Berlin, Berlin, Germany"
1,"Data Analyst / Decision Scientist, Digital Mar...",Vinted,"Berlin, Berlin, Germany"
2,Analytical Consultant (Fixed-Term Contract),Google,"Berlin, Berlin, Germany"
3,"Business Analyst (m/w/d), befristet bis 31.12....",Coca-Cola Europacific Partners,"Berlin, Berlin, Germany"
4,Junior Social Media Analyst (w/m/d),TLGG Agency,"Berlin, Berlin, Germany"
...,...,...,...
135,Business Analyst (w/m/d) - Sales Operations,smava,"Berlin, Germany"
136,AMS Europe Business Analyst L2 Banking Core,Avaloq,"Berlin, Berlin, Germany"
137,Business Analyst / IT Requirements Engineer (a...,PŸUR | Tele Columbus,"Berlin, Berlin, Germany"
138,Business Analyst (m/f/d),Inkitt,"Berlin, Berlin, Germany"
139,Business AnalystIn,lawpilots,"Berlin, Berlin, Germany"

In [38]:
final_df.isnull().sum()

Title       0
Company     0
Location    0
dtype: int64

In [39]:
final_df.columns

Index(['Title', 'Company', 'Location'], dtype='object')

In [17]:
final_df.to_csv('LinkedIn_scrape_data.csv',index=False)

NameError: name 'final_df' is not defined

## Import Data into SQL

In [16]:
!pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (1.1.1)

In [9]:
import pymysql

In [2]:
!pip install python-dotenv

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: python-dotenv in c:\users\akash gupta\appdata\roaming\python\python311\site-packages (1.0.1)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [19]:

from dotenv import load_dotenv
load_dotenv(dotenv_path='credentials.env')

connection=pymysql.connect(
    host=os.getenv('DB_HOST'),
    user=os.getenv('DB_USER'),
    password=os.getenv('DB_PASSWORD'),
    database=os.getenv('DB_NAME')
)

create_table_query='''
create table if not exists job_listings(
id INT AUTO_INCREMENT PRIMARY KEY,
Title varchar(255),
Company varchar(255),
Location varchar(255)
);
'''

cursor=connection.cursor()
cursor.execute(create_table_query)

insert_query = '''
    INSERT INTO job_listings (Title, Company, Location) VALUES (%s, %s, %s);
'''

for index, job in final_df.iterrows():
    cursor.execute(insert_query, (job['Title'], job['Company'], job['Location']))  # Combined skills


connection.commit()
cursor.close()

NameError: name 'final_df' is not defined